# SPDX-License-Identifier: Apache-2.0
openapi: 3.1.0
info:
  title: Bellwire API
  version: 0.2.0
  description: >-
    Public Bellwire business API. User requests use an ES256 Bellwire Auth JWT;
    Agent and runtime requests use a scoped bearer token. The separately
    deployed Auth Worker owns native Apple sign-in and session lifecycle.
  license:
    name: AGPL-3.0-only
    identifier: AGPL-3.0-only
servers:
  - url: https://api.bellwire.app
    description: Bellwire Cloud
  - url: http://localhost:8787
    description: Local development
security:
  - bearerAuth: []
tags:
  - name: System
  - name: Account
  - name: Connections
  - name: Devices
  - name: Projects
  - name: Surfaces
  - name: Events
  - name: Delivery
  - name: Billing
paths:
  /health:
    get:
      tags: [System]
      operationId: getHealth
      security: []
      responses:
        "200":
          description: Worker health and compatibility metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Health"
  /v1/account/entitlement:
    get:
      tags: [Account]
      operationId: getAccountEntitlement
      responses:
        "200":
          description: Deployment mode, billing state, usage, limits, and capabilities
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountEntitlement"
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/account:
    delete:
      tags: [Account]
      operationId: deleteAccount
      responses:
        "204": { description: Account deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/analytics/events:
    post:
      tags: [Account]
      operationId: captureProductEvent
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AnalyticsEventInput" }
      responses:
        "204": { description: Event accepted or analytics disabled }
        "400": { $ref: "#/components/responses/InvalidRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/device-bindings:
    post:
      tags: [Connections]
      operationId: createDeviceBinding
      responses:
        "201": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/device-bindings/confirm:
    post:
      tags: [Connections]
      operationId: confirmDeviceBinding
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string, pattern: "^[0-9]{6}$" }
      responses:
        "201": { $ref: "#/components/responses/JsonResource" }
        "400": { $ref: "#/components/responses/InvalidRequest" }
  /v1/agent-connections:
    get:
      tags: [Connections]
      operationId: listAgentConnections
      responses:
        "200": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/agent-connections/{connectionId}:
    delete:
      tags: [Connections]
      operationId: revokeAgentConnection
      parameters:
        - $ref: "#/components/parameters/ConnectionId"
      responses:
        "204": { description: Connection revoked }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/direct-connections:
    get:
      tags: [Connections]
      operationId: listDirectConnectionEnvelopes
      parameters:
        - in: query
          name: deviceKeyId
          required: true
          schema: { type: string }
      responses:
        "200": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [Connections]
      operationId: createDirectConnectionEnvelope
      requestBody: { $ref: "#/components/requestBodies/JsonBody" }
      responses:
        "201": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/direct-connections/{envelopeId}/ack:
    post:
      tags: [Connections]
      operationId: acknowledgeDirectConnectionEnvelope
      parameters:
        - $ref: "#/components/parameters/EnvelopeId"
      requestBody: { $ref: "#/components/requestBodies/JsonBody" }
      responses:
        "200": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/direct-connection-recoveries:
    get:
      tags: [Connections]
      operationId: listDirectConnectionRecoveries
      responses:
        "200": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/device-keys:
    post:
      tags: [Devices]
      operationId: registerDeviceKey
      requestBody: { $ref: "#/components/requestBodies/JsonBody" }
      responses:
        "201": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/devices:
    get:
      tags: [Devices]
      operationId: listDevices
      responses:
        "200": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [Devices]
      operationId: registerDevice
      requestBody: { $ref: "#/components/requestBodies/JsonBody" }
      responses:
        "201": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/devices/{deviceId}:
    delete:
      tags: [Devices]
      operationId: deleteDevice
      parameters:
        - $ref: "#/components/parameters/DeviceId"
      responses:
        "204": { description: Device deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/devices/live-activity-capability:
    put:
      tags: [Devices]
      operationId: updateLiveActivityCapability
      requestBody: { $ref: "#/components/requestBodies/JsonBody" }
      responses:
        "200": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/live-activities/{activityId}:
    put:
      tags: [Devices]
      operationId: registerLiveActivity
      parameters:
        - $ref: "#/components/parameters/ActivityId"
      requestBody: { $ref: "#/components/requestBodies/JsonBody" }
      responses:
        "200": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    delete:
      tags: [Devices]
      operationId: deleteLiveActivity
      parameters:
        - $ref: "#/components/parameters/ActivityId"
      responses:
        "204": { description: Live Activity registration deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/demo:
    post:
      tags: [Projects]
      operationId: createDemoExperience
      responses:
        "200": { $ref: "#/components/responses/JsonResource" }
        "201": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/projects:
    get:
      tags: [Projects]
      operationId: listProjects
      responses:
        "200":
          description: Owned projects
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Project" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [Projects]
      operationId: createProject
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateProjectInput" }
      responses:
        "201":
          description: Project created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Project" }
        "400": { $ref: "#/components/responses/InvalidRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/projects/{projectId}:
    get:
      tags: [Projects]
      operationId: getProject
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [Projects]
      operationId: updateProject
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody: { $ref: "#/components/requestBodies/JsonBody" }
      responses:
        "200": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    delete:
      tags: [Projects]
      operationId: deleteProject
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "204": { description: Project and owned data deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/projects/{projectId}/order:
    patch:
      tags: [Projects]
      operationId: reorderProject
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody: { $ref: "#/components/requestBodies/JsonBody" }
      responses:
        "200": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/projects/{projectId}/delivery-mode-requests:
    post:
      tags: [Projects]
      operationId: requestDeliveryModeChange
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody: { $ref: "#/components/requestBodies/JsonBody" }
      responses:
        "201": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/delivery-mode-requests:
    get:
      tags: [Projects]
      operationId: listDeliveryModeRequests
      responses:
        "200": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/delivery-mode-requests/{requestId}/approve:
    post:
      tags: [Projects]
      operationId: approveDeliveryModeRequest
      parameters:
        - $ref: "#/components/parameters/RequestId"
      responses:
        "200": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/delivery-mode-requests/{requestId}/reject:
    post:
      tags: [Projects]
      operationId: rejectDeliveryModeRequest
      parameters:
        - $ref: "#/components/parameters/RequestId"
      responses:
        "200": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/projects/{projectId}/direct-connection-recovery:
    post:
      tags: [Connections]
      operationId: requestDirectConnectionRecovery
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody: { $ref: "#/components/requestBodies/JsonBody" }
      responses:
        "202": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/projects/{projectId}/event-schemas:
    post:
      tags: [Events]
      operationId: createEventSchema
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody: { $ref: "#/components/requestBodies/JsonBody" }
      responses:
        "201": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/projects/{projectId}/notification-surfaces:
    post:
      tags: [Surfaces]
      operationId: createNotificationSurface
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody: { $ref: "#/components/requestBodies/JsonBody" }
      responses:
        "201": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/surfaces:
    get:
      tags: [Surfaces]
      operationId: listSurfaces
      responses:
        "200": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/projects/{projectId}/surfaces:
    get:
      tags: [Surfaces]
      operationId: listProjectSurfaces
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/projects/{projectId}/surfaces/{surfaceKey}:
    put:
      tags: [Surfaces]
      operationId: upsertSurface
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/SurfaceKey"
      requestBody: { $ref: "#/components/requestBodies/JsonBody" }
      responses:
        "200": { $ref: "#/components/responses/JsonResource" }
        "201": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    delete:
      tags: [Surfaces]
      operationId: deleteSurface
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/SurfaceKey"
      responses:
        "204": { description: Surface ended and deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/projects/{projectId}/surfaces/{surfaceKey}/order:
    patch:
      tags: [Surfaces]
      operationId: reorderSurface
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/SurfaceKey"
      requestBody: { $ref: "#/components/requestBodies/JsonBody" }
      responses:
        "200": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/projects/{projectId}/ingest-tokens:
    post:
      tags: [Events]
      operationId: createIngestToken
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody: { $ref: "#/components/requestBodies/JsonBody" }
      responses:
        "201": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/projects/{projectId}/ingest-tokens/{tokenId}:
    delete:
      tags: [Events]
      operationId: revokeIngestToken
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/TokenId"
      responses:
        "204": { description: Token revoked }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/projects/{projectId}/wake-tokens:
    post:
      tags: [Events]
      operationId: createWakeToken
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody: { $ref: "#/components/requestBodies/JsonBody" }
      responses:
        "201": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/projects/{projectId}/wake-tokens/{tokenId}:
    delete:
      tags: [Events]
      operationId: revokeWakeToken
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/TokenId"
      responses:
        "204": { description: Token revoked }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/projects/{projectId}/private-wakes:
    post:
      tags: [Events]
      operationId: ingestPrivateWake
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PrivateWakeInput" }
      responses:
        "202": { $ref: "#/components/responses/JsonResource" }
        "400": { $ref: "#/components/responses/InvalidRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/events/{id}:
    post:
      tags: [Events]
      operationId: ingestHostedEvent
      parameters:
        - $ref: "#/components/parameters/EventRouteId"
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, minLength: 8, maxLength: 200 }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/IngestEventInput" }
      responses:
        "200": { description: Existing idempotent Event returned }
        "201": { description: Event accepted }
        "400": { $ref: "#/components/responses/InvalidRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    get:
      tags: [Events]
      operationId: getEvent
      parameters:
        - $ref: "#/components/parameters/EventRouteId"
      responses:
        "200": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /v1/projects/{projectId}/events/test:
    post:
      tags: [Events]
      operationId: sendTestEvent
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      requestBody: { $ref: "#/components/requestBodies/JsonBody" }
      responses:
        "201": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/projects/{projectId}/events:
    get:
      tags: [Events]
      operationId: listProjectEvents
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/inbox:
    get:
      tags: [Events]
      operationId: listInbox
      responses:
        "200": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/inbox/read-all:
    post:
      tags: [Events]
      operationId: markInboxRead
      responses:
        "200": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/events/{eventId}/read:
    post:
      tags: [Events]
      operationId: markEventRead
      parameters:
        - $ref: "#/components/parameters/EventId"
      responses:
        "200": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/events/{eventId}/deliveries:
    get:
      tags: [Delivery]
      operationId: listEventDeliveries
      parameters:
        - $ref: "#/components/parameters/EventId"
      responses:
        "200": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/projects/{projectId}/delivery-health:
    get:
      tags: [Delivery]
      operationId: getDeliveryHealth
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/projects/{projectId}/export:
    get:
      tags: [Delivery]
      operationId: exportProject
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: Hosted Event and delivery history export
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { description: Capability unavailable for this deployment or entitlement }
  /v1/billing/apple/transactions:
    post:
      tags: [Billing]
      operationId: submitAppleTransaction
      requestBody: { $ref: "#/components/requestBodies/JsonBody" }
      responses:
        "200": { $ref: "#/components/responses/JsonResource" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /v1/billing/apple/notifications:
    post:
      tags: [Billing]
      operationId: processAppleServerNotification
      security: []
      requestBody: { $ref: "#/components/requestBodies/JsonBody" }
      responses:
        "200": { $ref: "#/components/responses/JsonResource" }
        "400": { $ref: "#/components/responses/InvalidRequest" }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: ES256 JWT, Agent token, Ingest token, or wake token
  parameters:
    ActivityId: { in: path, name: activityId, required: true, schema: { type: string } }
    ConnectionId: { in: path, name: connectionId, required: true, schema: { type: string } }
    DeviceId: { in: path, name: deviceId, required: true, schema: { type: string } }
    EnvelopeId: { in: path, name: envelopeId, required: true, schema: { type: string } }
    EventRouteId:
      in: path
      name: id
      required: true
      description: Project ID for POST; Event ID for GET.
      schema: { type: string }
    EventId: { in: path, name: eventId, required: true, schema: { type: string } }
    ProjectId: { in: path, name: projectId, required: true, schema: { type: string } }
    RequestId: { in: path, name: requestId, required: true, schema: { type: string } }
    SurfaceKey: { in: path, name: surfaceKey, required: true, schema: { type: string } }
    TokenId: { in: path, name: tokenId, required: true, schema: { type: string } }
  requestBodies:
    JsonBody:
      required: true
      content:
        application/json:
          schema: { type: object, additionalProperties: true }
  responses:
    InvalidRequest:
      description: Invalid request
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    JsonResource:
      description: JSON resource
      content:
        application/json:
          schema: { type: object, additionalProperties: true }
    NotFound:
      description: Owned resource not found
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Unauthorized:
      description: Missing, invalid, expired, or insufficiently scoped credentials
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
  schemas:
    Error:
      type: object
      required: [error]
      properties:
        error: { type: string }
    Health:
      type: object
      required: [status, service, compatibility]
      properties:
        status: { const: ok }
        service: { const: bellwire-api }
        compatibility:
          type: object
          required: [appVersion, apiVersion, schemaMigration]
          properties:
            appVersion: { type: string }
            apiVersion: { const: v1 }
            schemaMigration: { type: string }
    EntitlementCapabilities:
      type: object
      required: [billing, commercialLimitsEnforced, projectExport, liveActivities]
      properties:
        billing: { type: boolean }
        commercialLimitsEnforced: { type: boolean }
        projectExport: { type: boolean }
        liveActivities: { type: boolean }
    AccountEntitlement:
      type: object
      required: [deployment, plan, status, capabilities, limits, usage]
      properties:
        deployment: { type: string, enum: [hosted, self_hosted] }
        plan: { type: string, enum: [free, pro] }
        status: { type: string }
        productId: { type: [string, "null"] }
        capabilities: { $ref: "#/components/schemas/EntitlementCapabilities" }
        limits: { type: object, additionalProperties: true }
        usage: { type: object, additionalProperties: true }
    Project:
      type: object
      required: [id, name, slug, status, deliveryMode, endpoint, createdAt, updatedAt]
      properties:
        id: { type: string }
        name: { type: string }
        slug: { type: string }
        icon: { type: string }
        logoUrl: { type: string, format: uri }
        category: { type: string }
        status: { type: string, enum: [active, paused] }
        deliveryMode: { type: string, enum: [private, hosted] }
        endpoint: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    CreateProjectInput:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 1 }
        slug: { type: string }
        icon: { type: string }
        logoUrl: { type: string, format: uri }
        category: { type: string }
        deliveryMode: { type: string, enum: [private, hosted], default: private }
    IngestEventInput:
      type: object
      required: [type, data]
      properties:
        type: { type: string }
        data: { type: object, additionalProperties: true }
        occurredAt: { type: string, format: date-time }
    PrivateWakeInput:
      type: object
      required: [reference]
      additionalProperties: false
      properties:
        reference: { type: string, minLength: 22, maxLength: 200, pattern: "^[A-Za-z0-9_-]+$" }
        priority: { type: string, enum: [normal, high] }
    AnalyticsEventInput:
      type: object
      required: [event]
      additionalProperties: false
      properties:
        event: { type: string }
        properties: { type: object, additionalProperties: true }
